.course-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 350px;
  border: 1px solid grey;
  border-radius: 30px;
  padding: 30px;
}
.card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card-price {
  font-style: italic;
  color: red;
}
.card-delete-btn {
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: rebeccapurple;
  color: white;
}
.refresh-div {
  text-align: center;
}
